<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riokuy.myshoes">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NikeViewActivity"></activity>
        <activity android:name=".NikeAirActivity" />
        <activity android:name=".Balance1500Activity" />
        <activity android:name=".Balance1300Activity" />
        <activity android:name=".ConverseChuckActivity" />
        <activity android:name=".ConversePurcellActivity" />
        <activity android:name=".AdidasRizeActivity" />
        <activity android:name=".AdidasBoostActivity" />
        <activity android:name=".NikeActivity" />
        <activity android:name=".NewBalanceActivity" />
        <activity android:name=".ConverseActivity" />
        <activity android:name=".AdidasActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>